<style>
  footer {
    background-color: #E7D8C7;
    padding: 80px 0px 10px;
  }
  .footer-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 50px;
  }
  /* Col 1 */
  footer .footer-main .footer-brand {
    width: 45%;
  }
  footer .footer-main .footer-brand .brand-logo {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 18px;
  }
  footer .footer-main .footer-brand .brand-logo a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

footer .footer-main .footer-brand .brand-logo .logo-name {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 75px;
    line-height: 85px;
    letter-spacing: 0px;
    color: #3F3A36;
}
  footer .footer-main .footer-brand .brand-logo .logo-sub {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 3.84px;
    font-weight: 400;
    text-transform: uppercase;
    color: #3F3A36;
    text-align: center;
  }
  footer .footer-main .footer-brand p.brand-tagline {
    max-width: 440px;
    line-height: 22px;
    color: #3F3A36;
    margin-bottom: 24px;
  }
  footer .footer-main .footer-brand .social-icons {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  footer .footer-main .footer-brand .social-icons .social-icon a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #FBF8F3;
    color: #8A6A4A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  footer .footer-main .footer-brand .social-icons .social-icon a:hover {
    background-color: #8A6A4A;
  }
  footer .footer-main .footer-brand .social-icons .social-icon a svg {
    height: 15px;
    fill: #8A6A4A;
  }
  footer .footer-main .footer-brand .social-icons .social-icon a:hover svg path {
    fill: #ffffff !important;
  }

  /* Col 2 */
  footer .footer-main .footer-links {
    width: 55%;
    display: flex;
    justify-content: space-between;
  }
  footer .footer-main .footer-links .footer-col h3 {
    color: #3F3A36;
    margin-bottom: 20px;
  }
  footer .footer-main .footer-links .footer-col ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  footer .footer-main .footer-links .footer-col ul li a {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    font-weight: 400;
    text-decoration: none;
    color: #3F3A36;
    transition: color 0.5s;
  }
  footer .footer-main .footer-links .footer-col ul li a:hover {
    color: #8A6A4A;
  }

  /* Bottom Bar */
  footer .footer-bottom {
    border-top: 1px solid #DDD2C6;
    padding-top: 20px;
    text-align: center;
  }
  footer .footer-bottom p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #3F3A36;
    margin-top: 0px;
    margin-bottom: 0px;
  }
</style>

<footer>
  <div class="footer-main container-shell">

    <!-- Col 1: Brand -->
    <div class="footer-brand">
      <div class="brand-logo">
        <a href="{{ routes.root_url }}">
            {% if section.settings.logo_name != blank %}
                <span class="logo-name">{{ section.settings.logo_name }}</span>
            {% endif %}
            {% if section.settings.logo_sub != blank %}
            <span class="logo-sub">{{ section.settings.logo_sub }}</span>
            {% endif %}
        </a>
      </div>
      {% if section.settings.brand_tagline != blank %}
        <p class="brand-tagline">{{ section.settings.brand_tagline }}</p>
      {% endif %}

      <!-- Social Icons -->
      <div class="social-icons">

        {% if section.settings.facebook_url != blank %}
        <div class="social-icon">
          <a href="{{ section.settings.facebook_url }}" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="path-1-outside-1_817_3" maskUnits="userSpaceOnUse" x="-0.728516" y="-0.896484" width="21" height="21" fill="black">
<rect fill="white" x="-0.728516" y="-0.896484" width="21" height="21"/>
<path d="M9.89648 4.91211C12.6035 4.91211 14.8379 7.14648 14.8379 9.85352C14.8379 12.6035 12.6035 14.7949 9.89648 14.7949C7.14648 14.7949 4.95508 12.6035 4.95508 9.85352C4.95508 7.14648 7.14648 4.91211 9.89648 4.91211ZM9.89648 13.0762C11.6582 13.0762 13.0762 11.6582 13.0762 9.85352C13.0762 8.0918 11.6582 6.67383 9.89648 6.67383C8.0918 6.67383 6.67383 8.0918 6.67383 9.85352C6.67383 11.6582 8.13477 13.0762 9.89648 13.0762ZM16.1699 4.74023C16.1699 4.0957 15.6543 3.58008 15.0098 3.58008C14.3652 3.58008 13.8496 4.0957 13.8496 4.74023C13.8496 5.38477 14.3652 5.90039 15.0098 5.90039C15.6543 5.90039 16.1699 5.38477 16.1699 4.74023ZM19.4355 5.90039C19.5215 7.49023 19.5215 12.2598 19.4355 13.8496C19.3496 15.3965 19.0059 16.7285 17.8887 17.8887C16.7715 19.0059 15.3965 19.3496 13.8496 19.4355C12.2598 19.5215 7.49023 19.5215 5.90039 19.4355C4.35352 19.3496 3.02148 19.0059 1.86133 17.8887C0.744141 16.7285 0.400391 15.3965 0.314453 13.8496C0.228516 12.2598 0.228516 7.49023 0.314453 5.90039C0.400391 4.35352 0.744141 2.97852 1.86133 1.86133C3.02148 0.744141 4.35352 0.400391 5.90039 0.314453C7.49023 0.228516 12.2598 0.228516 13.8496 0.314453C15.3965 0.400391 16.7715 0.744141 17.8887 1.86133C19.0059 2.97852 19.3496 4.35352 19.4355 5.90039ZM17.373 15.5254C17.8887 14.2793 17.7598 11.2715 17.7598 9.85352C17.7598 8.47852 17.8887 5.4707 17.373 4.18164C17.0293 3.36523 16.3848 2.67773 15.5684 2.37695C14.2793 1.86133 11.2715 1.99023 9.89648 1.99023C8.47852 1.99023 5.4707 1.86133 4.22461 2.37695C3.36523 2.7207 2.7207 3.36523 2.37695 4.18164C1.86133 5.4707 1.99023 8.47852 1.99023 9.85352C1.99023 11.2715 1.86133 14.2793 2.37695 15.5254C2.7207 16.3848 3.36523 17.0293 4.22461 17.373C5.4707 17.8887 8.47852 17.7598 9.89648 17.7598C11.2715 17.7598 14.2793 17.8887 15.5684 17.373C16.3848 17.0293 17.0723 16.3848 17.373 15.5254Z"/>
</mask>
<path d="M9.89648 4.91211C12.6035 4.91211 14.8379 7.14648 14.8379 9.85352C14.8379 12.6035 12.6035 14.7949 9.89648 14.7949C7.14648 14.7949 4.95508 12.6035 4.95508 9.85352C4.95508 7.14648 7.14648 4.91211 9.89648 4.91211ZM9.89648 13.0762C11.6582 13.0762 13.0762 11.6582 13.0762 9.85352C13.0762 8.0918 11.6582 6.67383 9.89648 6.67383C8.0918 6.67383 6.67383 8.0918 6.67383 9.85352C6.67383 11.6582 8.13477 13.0762 9.89648 13.0762ZM16.1699 4.74023C16.1699 4.0957 15.6543 3.58008 15.0098 3.58008C14.3652 3.58008 13.8496 4.0957 13.8496 4.74023C13.8496 5.38477 14.3652 5.90039 15.0098 5.90039C15.6543 5.90039 16.1699 5.38477 16.1699 4.74023ZM19.4355 5.90039C19.5215 7.49023 19.5215 12.2598 19.4355 13.8496C19.3496 15.3965 19.0059 16.7285 17.8887 17.8887C16.7715 19.0059 15.3965 19.3496 13.8496 19.4355C12.2598 19.5215 7.49023 19.5215 5.90039 19.4355C4.35352 19.3496 3.02148 19.0059 1.86133 17.8887C0.744141 16.7285 0.400391 15.3965 0.314453 13.8496C0.228516 12.2598 0.228516 7.49023 0.314453 5.90039C0.400391 4.35352 0.744141 2.97852 1.86133 1.86133C3.02148 0.744141 4.35352 0.400391 5.90039 0.314453C7.49023 0.228516 12.2598 0.228516 13.8496 0.314453C15.3965 0.400391 16.7715 0.744141 17.8887 1.86133C19.0059 2.97852 19.3496 4.35352 19.4355 5.90039ZM17.373 15.5254C17.8887 14.2793 17.7598 11.2715 17.7598 9.85352C17.7598 8.47852 17.8887 5.4707 17.373 4.18164C17.0293 3.36523 16.3848 2.67773 15.5684 2.37695C14.2793 1.86133 11.2715 1.99023 9.89648 1.99023C8.47852 1.99023 5.4707 1.86133 4.22461 2.37695C3.36523 2.7207 2.7207 3.36523 2.37695 4.18164C1.86133 5.4707 1.99023 8.47852 1.99023 9.85352C1.99023 11.2715 1.86133 14.2793 2.37695 15.5254C2.7207 16.3848 3.36523 17.0293 4.22461 17.373C5.4707 17.8887 8.47852 17.7598 9.89648 17.7598C11.2715 17.7598 14.2793 17.8887 15.5684 17.373C16.3848 17.0293 17.0723 16.3848 17.373 15.5254Z" fill="#8A6A4A"/>
<path d="M19.4355 5.90039L19.6852 5.8869L19.6852 5.88652L19.4355 5.90039ZM19.4355 13.8496L19.6852 13.8635L19.6852 13.8631L19.4355 13.8496ZM17.8887 17.8887L18.0655 18.0655L18.0688 18.0621L17.8887 17.8887ZM13.8496 19.4355L13.8631 19.6852L13.8635 19.6852L13.8496 19.4355ZM5.90039 19.4355L5.88652 19.6852L5.8869 19.6852L5.90039 19.4355ZM1.86133 17.8887L1.68112 18.0622L1.68792 18.0688L1.86133 17.8887ZM0.314453 13.8496L0.0648173 13.8631L0.064838 13.8635L0.314453 13.8496ZM0.314453 5.90039L0.0648378 5.88652L0.0648176 5.8869L0.314453 5.90039ZM1.86133 1.86133L1.68789 1.68122L1.68455 1.68455L1.86133 1.86133ZM5.90039 0.314453L5.8869 0.0648174L5.88652 0.0648384L5.90039 0.314453ZM13.8496 0.314453L13.8635 0.0648384L13.8631 0.0648174L13.8496 0.314453ZM17.373 15.5254L17.1417 15.4297L17.1371 15.4428L17.373 15.5254ZM17.373 4.18164L17.6052 4.08878L17.6035 4.08463L17.373 4.18164ZM15.5684 2.37695L15.4755 2.60916L15.4819 2.61154L15.5684 2.37695ZM4.22461 2.37695L4.31746 2.60909L4.3202 2.60796L4.22461 2.37695ZM2.37695 4.18164L2.14651 4.08461L2.14483 4.08879L2.37695 4.18164ZM2.37695 15.5254L2.60909 15.4325L2.60796 15.4298L2.37695 15.5254ZM4.22461 17.373L4.3202 17.142L4.31746 17.1409L4.22461 17.373ZM15.5684 17.373L15.6612 17.6052L15.6654 17.6035L15.5684 17.373ZM9.89648 4.91211V5.16211C12.4654 5.16211 14.5879 7.28456 14.5879 9.85352H14.8379H15.0879C15.0879 7.00841 12.7416 4.66211 9.89648 4.66211V4.91211ZM14.8379 9.85352H14.5879C14.5879 12.464 12.4669 14.5449 9.89648 14.5449V14.7949V15.0449C12.7402 15.0449 15.0879 12.743 15.0879 9.85352H14.8379ZM9.89648 14.7949V14.5449C7.28456 14.5449 5.20508 12.4654 5.20508 9.85352H4.95508H4.70508C4.70508 12.7416 7.00841 15.0449 9.89648 15.0449V14.7949ZM4.95508 9.85352H5.20508C5.20508 7.28314 7.28597 5.16211 9.89648 5.16211V4.91211V4.66211C7.007 4.66211 4.70508 7.00983 4.70508 9.85352H4.95508ZM9.89648 13.0762V13.3262C11.7985 13.3262 13.3262 11.7941 13.3262 9.85352H13.0762H12.8262C12.8262 11.5223 11.5179 12.8262 9.89648 12.8262V13.0762ZM13.0762 9.85352H13.3262C13.3262 7.95373 11.7963 6.42383 9.89648 6.42383V6.67383V6.92383C11.5201 6.92383 12.8262 8.22987 12.8262 9.85352H13.0762ZM9.89648 6.67383V6.42383C7.95592 6.42383 6.42383 7.95154 6.42383 9.85352H6.67383H6.92383C6.92383 8.23206 8.22767 6.92383 9.89648 6.92383V6.67383ZM6.67383 9.85352H6.42383C6.42383 11.7984 7.99887 13.3262 9.89648 13.3262V13.0762V12.8262C8.27066 12.8262 6.92383 11.518 6.92383 9.85352H6.67383ZM16.1699 4.74023H16.4199C16.4199 3.95763 15.7924 3.33008 15.0098 3.33008V3.58008V3.83008C15.5162 3.83008 15.9199 4.23377 15.9199 4.74023H16.1699ZM15.0098 3.58008V3.33008C14.2272 3.33008 13.5996 3.95763 13.5996 4.74023H13.8496H14.0996C14.0996 4.23377 14.5033 3.83008 15.0098 3.83008V3.58008ZM13.8496 4.74023H13.5996C13.5996 5.52284 14.2272 6.15039 15.0098 6.15039V5.90039V5.65039C14.5033 5.65039 14.0996 5.24669 14.0996 4.74023H13.8496ZM15.0098 5.90039V6.15039C15.7924 6.15039 16.4199 5.52284 16.4199 4.74023H16.1699H15.9199C15.9199 5.24669 15.5162 5.65039 15.0098 5.65039V5.90039ZM19.4355 5.90039L19.1859 5.91388C19.2714 7.49474 19.2714 12.2553 19.1859 13.8361L19.4355 13.8496L19.6852 13.8631C19.7716 12.2643 19.7716 7.48573 19.6852 5.8869L19.4355 5.90039ZM19.4355 13.8496L19.1859 13.8357C19.1017 15.3511 18.7681 16.615 17.7086 17.7153L17.8887 17.8887L18.0688 18.0621C19.2436 16.842 19.5975 15.4419 19.6852 13.8635L19.4355 13.8496ZM17.8887 17.8887L17.7119 17.7119C16.6571 18.7667 15.3546 19.1016 13.8357 19.1859L13.8496 19.4355L13.8635 19.6852C15.4384 19.5977 16.8858 19.2451 18.0654 18.0654L17.8887 17.8887ZM13.8496 19.4355L13.8361 19.1859C12.2553 19.2714 7.49474 19.2714 5.91388 19.1859L5.90039 19.4355L5.8869 19.6852C7.48573 19.7716 12.2643 19.7716 13.8631 19.6852L13.8496 19.4355ZM5.90039 19.4355L5.91426 19.1859C4.39892 19.1017 3.13501 18.7681 2.03474 17.7086L1.86133 17.8887L1.68792 18.0688C2.90796 19.2436 4.30811 19.5975 5.88652 19.6852L5.90039 19.4355ZM1.86133 17.8887L2.04141 17.7153C0.981892 16.615 0.648254 15.3511 0.564068 13.8357L0.314453 13.8496L0.064838 13.8635C0.152528 15.4419 0.50639 16.842 1.68125 18.0621L1.86133 17.8887ZM0.314453 13.8496L0.564089 13.8361C0.478637 12.2553 0.478637 7.49474 0.564089 5.91388L0.314453 5.90039L0.0648176 5.8869C-0.0216058 7.48573 -0.0216058 12.2643 0.0648176 13.8631L0.314453 13.8496ZM0.314453 5.90039L0.564068 5.91426C0.648449 4.39541 0.983346 3.09286 2.0381 2.03811L1.86133 1.86133L1.68455 1.68455C0.504935 2.86417 0.152332 4.31162 0.064838 5.88652L0.314453 5.90039ZM1.86133 1.86133L2.03474 2.04141C3.13501 0.981892 4.39892 0.648254 5.91426 0.564068L5.90039 0.314453L5.88652 0.0648384C4.30811 0.152527 2.90796 0.50639 1.68792 1.68125L1.86133 1.86133ZM5.90039 0.314453L5.91388 0.564089C7.49474 0.478638 12.2553 0.478638 13.8361 0.564089L13.8496 0.314453L13.8631 0.0648174C12.2643 -0.0216064 7.48573 -0.0216064 5.8869 0.0648174L5.90039 0.314453ZM13.8496 0.314453L13.8357 0.564068C15.3546 0.648449 16.6571 0.983347 17.7119 2.03811L17.8887 1.86133L18.0654 1.68455C16.8858 0.504934 15.4384 0.152332 13.8635 0.0648384L13.8496 0.314453ZM17.8887 1.86133L17.7119 2.03811C18.7667 3.09286 19.1016 4.39541 19.1859 5.91426L19.4355 5.90039L19.6852 5.88652C19.5977 4.31162 19.2451 2.86417 18.0654 1.68455L17.8887 1.86133ZM17.373 15.5254L17.6041 15.621C17.8819 14.9494 17.9776 13.8408 18.0097 12.7613C18.042 11.6721 18.0098 10.5515 18.0098 9.85352H17.7598H17.5098C17.5098 10.5735 17.542 11.6657 17.5099 12.7465C17.4775 13.8369 17.3798 14.8553 17.142 15.4298L17.373 15.5254ZM17.7598 9.85352H18.0098C18.0098 9.17713 18.042 8.0671 18.0097 6.97793C17.9776 5.89735 17.8817 4.78017 17.6052 4.08879L17.373 4.18164L17.1409 4.27449C17.38 4.87218 17.4775 5.90343 17.5099 6.99277C17.542 8.07353 17.5098 9.1549 17.5098 9.85352H17.7598ZM17.373 4.18164L17.6035 4.08463C17.2374 3.21532 16.5465 2.4709 15.6548 2.14237L15.5684 2.37695L15.4819 2.61154C16.223 2.88457 16.8212 3.51515 17.1426 4.27866L17.373 4.18164ZM15.5684 2.37695L15.6612 2.14483C14.9698 1.86828 13.8526 1.77244 12.7721 1.74035C11.6829 1.70799 10.5729 1.74023 9.89648 1.74023V1.99023V2.24023C10.5951 2.24023 11.6765 2.20802 12.7572 2.24012C13.8466 2.27248 14.8778 2.37 15.4755 2.60907L15.5684 2.37695ZM9.89648 1.99023V1.74023C9.19854 1.74023 8.07785 1.70799 6.98867 1.74035C5.90916 1.77241 4.80059 1.86806 4.12902 2.14595L4.22461 2.37695L4.3202 2.60796C4.89472 2.37022 5.91311 2.27251 7.00352 2.24012C8.08426 2.20802 9.17646 2.24023 9.89648 2.24023V1.99023ZM4.22461 2.37695L4.13176 2.14483C3.21021 2.51346 2.51619 3.20671 2.14654 4.08463L2.37695 4.18164L2.60736 4.27866C2.92521 3.52376 3.52026 2.92795 4.31746 2.60907L4.22461 2.37695ZM2.37695 4.18164L2.14483 4.08879C1.86828 4.78017 1.77244 5.89735 1.74034 6.97793C1.70799 8.0671 1.74023 9.17713 1.74023 9.85352H1.99023H2.24023C2.24023 9.1549 2.20802 8.07353 2.24012 6.99277C2.27248 5.90343 2.37 4.87218 2.60907 4.27449L2.37695 4.18164ZM1.99023 9.85352H1.74023C1.74023 10.5515 1.70799 11.6721 1.74034 12.7613C1.77241 13.8408 1.86806 14.9494 2.14595 15.621L2.37695 15.5254L2.60796 15.4298C2.37022 14.8553 2.27251 13.8369 2.24012 12.7465C2.20802 11.6657 2.24023 10.5735 2.24023 9.85352H1.99023ZM2.37695 15.5254L2.14483 15.6182C2.51399 16.5411 3.20886 17.236 4.13176 17.6052L4.22461 17.373L4.31746 17.1409C3.52161 16.8226 2.92741 16.2284 2.60907 15.4325L2.37695 15.5254ZM4.22461 17.373L4.12902 17.6041C4.80059 17.8819 5.90916 17.9776 6.98867 18.0097C8.07785 18.042 9.19854 18.0098 9.89648 18.0098V17.7598V17.5098C9.17646 17.5098 8.08426 17.542 7.00352 17.5099C5.91311 17.4775 4.89472 17.3798 4.3202 17.142L4.22461 17.373ZM9.89648 17.7598V18.0098C10.5729 18.0098 11.6829 18.042 12.7721 18.0097C13.8526 17.9776 14.9698 17.8817 15.6612 17.6052L15.5684 17.373L15.4755 17.1409C14.8778 17.38 13.8466 17.4775 12.7572 17.5099C11.6765 17.542 10.5951 17.5098 9.89648 17.5098V17.7598ZM15.5684 17.373L15.6654 17.6035C16.5362 17.2368 17.2813 16.5443 17.609 15.608L17.373 15.5254L17.1371 15.4428C16.8632 16.2252 16.2334 16.8218 15.4713 17.1426L15.5684 17.373Z" fill="#8A6A4A" mask="url(#path-1-outside-1_817_3)"/>
</svg>
          </a>
        </div>
        {% endif %}

        {% if section.settings.tiktok_url != blank %}
        <div class="social-icon">
          <a href="{{ section.settings.tiktok_url }}" target="_blank" rel="noopener noreferrer" aria-label="TikTok">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 20" height="20" width="17">
              <path fill="#8A6A4A" d="M16.755 4.68394V8.01811C16.1725 7.9612 15.4156 7.82883 14.5783 7.52201C13.4849 7.12117 12.6711 6.5731 12.138 6.14875V12.8876L12.1244 12.8666C12.1331 13.0002 12.138 13.1363 12.138 13.2736C12.138 16.6202 9.41582 19.3444 6.06902 19.3444C2.72222 19.3444 0 16.6202 0 13.2736C0 9.92708 2.72222 7.20158 6.06902 7.20158C6.39677 7.20158 6.71835 7.22756 7.0325 7.27829V10.5642C6.73071 10.4566 6.40667 10.3984 6.06902 10.3984C4.48467 10.3984 3.19468 11.6876 3.19468 13.2736C3.19468 14.8597 4.48467 16.1488 6.06902 16.1488C7.65337 16.1488 8.94336 14.8584 8.94336 13.2736C8.94336 13.2142 8.94212 13.1549 8.93841 13.0955V0H12.2691C12.2815 0.282075 12.2926 0.566631 12.305 0.848706C12.3273 1.4042 12.5252 1.93741 12.8702 2.37413C13.2747 2.88756 13.872 3.48388 14.7106 3.96019C15.496 4.40433 16.2331 4.5961 16.755 4.68641V4.68394Z"/>
            </svg>
          </a>
        </div>
        {% endif %}

        {% if section.settings.pinterest_url != blank %}
        <div class="social-icon">
          <a href="{{ section.settings.pinterest_url }}" target="_blank" rel="noopener noreferrer" aria-label="Pinterest">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 26" height="26" width="20">
              <path fill="#8A6A4A" d="M8.2314 16.5902C8.21037 16.6632 8.19059 16.7251 8.17451 16.7869C7.24072 20.4465 7.13682 21.2593 6.17706 22.9592C5.71944 23.767 5.20369 24.5329 4.63353 25.2653C4.56921 25.3482 4.5086 25.4546 4.37997 25.4286C4.23898 25.3989 4.22785 25.2715 4.21301 25.1589C4.05964 24.0467 3.9743 22.932 4.01141 21.8086C4.05964 20.3463 4.24022 19.844 6.12512 11.9162C6.15233 11.7949 6.1214 11.6947 6.08182 11.5859C5.63039 10.3685 5.54134 9.13254 5.93588 7.88052C6.78928 5.17606 9.85409 4.96945 10.3896 7.20007C10.7199 8.57952 9.84667 10.3858 9.17632 13.0556C8.62099 15.2578 11.2133 16.824 13.4285 15.2157C15.4717 13.7336 16.2645 10.1804 16.1136 7.66154C15.8167 2.63985 10.3117 1.55486 6.8202 3.17185C2.81665 5.0239 1.90636 9.98742 3.71458 12.2564C3.94339 12.5447 4.37503 12.7216 4.29959 13.0135C4.18333 13.4676 4.08067 13.9253 3.95451 14.3769C3.86051 14.7134 3.32498 14.8359 2.98486 14.6973C2.31822 14.4276 1.76289 14.0033 1.31269 13.4441C-0.222187 11.5425 -0.661253 7.78156 1.36835 4.59707C3.61687 1.0699 7.79975 -0.357807 11.619 0.075203C16.1804 0.593578 19.0634 3.71125 19.6026 7.24833C19.8487 8.85912 19.6719 12.8317 17.411 15.6401C14.81 18.8666 10.5937 19.0806 8.6482 17.0999C8.49855 16.9478 8.37858 16.7708 8.2314 16.589V16.5902Z" clip-rule="evenodd" fill-rule="evenodd"/>
            </svg>
          </a>
        </div>
        {% endif %}

        {% if section.settings.youtube_url != blank %}
        <div class="social-icon">
          <a href="{{ section.settings.youtube_url }}" target="_blank" rel="noopener noreferrer" aria-label="YouTube">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 23 16" height="16" width="23">
              <path fill="#8A6A4A" d="M22.3594 4.21633C22.2209 2.87894 21.9229 1.40053 20.8258 0.623581C19.9761 0.0210785 18.8593 -0.00119549 17.8166 4.16813e-05C15.6127 4.16813e-05 13.4074 0.00375803 11.2034 0.0049952C9.08355 0.00746955 6.96365 0.00870521 4.84376 0.0111796C3.95821 0.0111796 3.09739 -0.0568664 2.27491 0.326657C1.56869 0.655745 1.01584 1.28176 0.68314 1.97829C0.221811 2.94699 0.125345 4.04436 0.0696883 5.11575C-0.0329668 7.06677 -0.0218355 9.02274 0.100608 10.9725C0.190895 12.3953 0.419701 13.9677 1.51922 14.8746C2.49383 15.6775 3.86916 15.7171 5.13317 15.7183C9.14538 15.722 13.1588 15.7257 17.1723 15.7282C17.6868 15.7295 18.2236 15.7196 18.748 15.6626C19.7795 15.5513 20.7627 15.2556 21.4256 14.491C22.0948 13.7203 22.2667 12.6477 22.3681 11.6319C22.6155 9.16749 22.613 6.67954 22.3594 4.21633ZM8.88318 11.3189V4.40933L14.8644 7.86351L8.88318 11.3189Z"/>
            </svg>
          </a>
        </div>
        {% endif %}

      </div>
    </div>

    <!-- Col 2: Navigation Columns (blocks) + Contact -->
    <div class="footer-links">

      {% for block in section.blocks %}
        {% if block.type == 'nav_column' %}
        <div class="footer-col" {{ block.shopify_attributes }}>
          {% if block.settings.column_title != blank %}
            <h3>{{ block.settings.column_title }}</h3>
          {% endif %}
          {% if block.settings.menu != blank %}
            <ul>
              {% assign nav_menu = linklists[block.settings.menu] %}
              {% for link in nav_menu.links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        {% endif %}
      {% endfor %}

      <!-- Contact Column -->
      <div class="footer-col">
        {% if section.settings.contact_title != blank %}
          <h3>{{ section.settings.contact_title }}</h3>
        {% endif %}
        <ul>
          {% if section.settings.contact_phone != blank %}
            <li>Phone: <a href="tel:{{ section.settings.contact_phone }}">{{ section.settings.contact_phone }}</a></li>
          {% endif %}
          {% if section.settings.contact_email != blank %}
            <li>Email: <a href="mailto:{{ section.settings.contact_email }}">{{ section.settings.contact_email }}</a></li>
          {% endif %}
        </ul>
      </div>

    </div>

  </div>

  <!-- Bottom Bar -->
  <div class="footer-bottom">
    <p>{{ section.settings.copyright_text }}</p>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "tag": "section",
  "class": "footer-section",
  "settings": [

    {
      "type": "header",
      "content": "Brand"
    },
    {
      "type": "text",
      "id": "logo_name",
      "label": "Logo Name",
      "default": "Lanai"
    },
    {
      "type": "text",
      "id": "logo_sub",
      "label": "Logo Subtitle",
      "default": "Lifestyle"
    },
    {
      "type": "textarea",
      "id": "brand_tagline",
      "label": "Brand Tagline",
      "default": "Curated outdoor furniture, poolside pieces, and refined accents for elevated open-air living."
    },

    {
      "type": "header",
      "content": "Social Media Links"
    },
    {
      "type": "url",
      "id": "facebook_url",
      "label": "Facebook URL"
    },
    {
      "type": "url",
      "id": "tiktok_url",
      "label": "TikTok URL"
    },
    {
      "type": "url",
      "id": "pinterest_url",
      "label": "Pinterest URL"
    },
    {
      "type": "url",
      "id": "youtube_url",
      "label": "YouTube URL"
    },

    {
      "type": "header",
      "content": "Contact Column"
    },
    {
      "type": "text",
      "id": "contact_title",
      "label": "Contact Column Title",
      "default": "Contact"
    },
    {
      "type": "text",
      "id": "contact_phone",
      "label": "Phone Number",
      "default": "123 456 789"
    },
    {
      "type": "text",
      "id": "contact_email",
      "label": "Email Address",
      "default": "Info@lanailifestyle.com"
    },

    {
      "type": "header",
      "content": "Bottom Bar"
    },
    {
      "type": "text",
      "id": "copyright_text",
      "label": "Copyright Text",
      "default": "© 2026 Lanai Lifestyle. All Rights Reserved."
    }

  ],

  "blocks": [
    {
      "type": "nav_column",
      "name": "Navigation Column",
      "settings": [
        {
          "type": "text",
          "id": "column_title",
          "label": "Column Heading",
          "default": "Quick Links"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Navigation Menu"
        }
      ]
    }
  ],

  "max_blocks": 3,

  "presets": [
    {
      "name": "Footer",
      "category": "Footer",
      "blocks": [
        {
          "type": "nav_column",
          "settings": {
            "column_title": "Quick Links",
            "menu": "main-menu"
          }
        },
        {
          "type": "nav_column",
          "settings": {
            "column_title": "Support",
            "menu": "footer-support"
          }
        },
        {
          "type": "nav_column",
          "settings": {
            "column_title": "Brand",
            "menu": "footer-brand"
          }
        }
      ]
    }
  ]
}
{% endschema %}
